.toolbar {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(65, 59, 57);
  padding: 0 10px 0;
  height: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.toolbar button {
  color: white;
  border: none;
  background-color: inherit;
  margin: 0;
}

.toolbar button:hover {
  background-color: rgb(116, 107, 105);
}

.toolbar button:focus {
  outline: none;
}
