.toolbar {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(65, 59, 57);
  padding: 0 5px 0;
  height: 20pt;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.toolbarButton {
  composes: text from "../index.module.css";
  color: white;
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0 8pt 0;
}

.toolbarButton:hover {
  background-color: rgb(116, 107, 105);
}

.toolbarButton:focus {
  outline: none;
}
