.toolbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(65, 59, 57);
  padding: 0 10px 0;
  height: 20px;
}

.toolbar button {
  color: white;
  border: none;
  background-color: inherit;
  margin: 0;
}

.toolbar button:hover {
  background-color: rgb(116, 107, 105);
}

.toolbar button:focus {
  /* border: 3px solid yellow; */
  outline: none;
}
