.inputBar {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  max-width: 25rem;
}

.inputBar input {
  background-color: rgb(112, 112, 112);
  height: 20pt;
  color: white;
  border: none;
}

.inputBar input::placeholder {
  color: white;
}

.inputBar input:focus {
  outline: none;
}

.options {
  height: calc(18pt * 4);
  overflow: auto;
}

.optionsButton {
  display: block;
  width: 100%;
  height: 18pt;
  color: white;
  text-align: center;
  background-color: rgb(23, 23, 23);
  padding: 3pt;
  border: none;
}

.optionsButton:focus {
  outline: none;
}

.selected {
  /*This should be below .options class*/
  background-color: rgb(66, 58, 58);
}
